# ==============================
# Frontend (public)
# ==============================
app.domain.com {
    reverse_proxy frontend:80
}

# ==============================
# Backend API (public)
# ==============================
api.domain.com {
    reverse_proxy backend:5678
}

# ==============================
# Grafana (Logs + Metrics UI)
# ==============================
log.domain.com {
    reverse_proxy grafana:3000

}

# ==============================
# (Optional) Internal Monitoring Access
# ==============================
# Uncomment if you want Prometheus/cAdvisor externally visible
# metrics.domain.com {
#     reverse_proxy prometheus:9090
# }

# system.domain.com {
#     reverse_proxy cadvisor:8080
# }
